<% layout('/layout/boilerplate') %>

<div class="container">
    <div class="row">
        <h1 class ="text-center">Entry Page</h1>
        

        <form action="/entry" method="post" enctype="multipart/form-data">
            <div class="form-group mb-3">
                <select name="tag" class="form-select form-control-color" aria-label="Default select example" required>
                    <option value="">How was your day today?</option>
                    <option value="Amazing">Amazing</option>
                    <option value="exciting">exciting</option>
                    <option value="plain">plain</option>
                    <option value="not-The-Best-Day">not The Best Day</option>
                    <option value="horrible">horrible</option>
                </select>
            </div>

            <div class=" form-group mb-3">
                <label for="title" class="form-label">Entry Title</label>
            <input type="text" name="title" id="title" class="form-control" placeholder="Entry Title" required> 
            </div>

            <div class="form-group mb-3">
                <label for="Entry note" class="form-label">Entry note</label>

            <textarea type="text" style="white-space: pre-line" class="form-control" name="paragraph" placeholder="Let's start logging......." rows="10" required></textarea>
        </div>
        
            <div class="form-group mb-3">
                <label for="image">Image</label>
                <input type="file" name="image" accept="image/*" class="form-control">
            </div>

    
            <div class="form-group">
            <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
