<% layout('/layout/boilerplate') %>

                <li>Show any recent entries</li>
                <li style="display: inline;"> 
                    <label for="start">Calendar Picker:</label>
                    <input type="date" id="start" name="trip-start"
                           value="2018-07-22"
                           min="2018-01-01" max="2018-12-31">
                </li>

<div class="container">
    <div class="row">
        <h1>Entry Page</h1>
        
        <form action="/entry" method="post">
            <div class=" form-group">
                <label for="title" class="form-label">Entry title</label>
            <input type="text" name="title" id="title" class="form-control" placeholder="Entry title">
            </div>
            <div class="form-group mb-3">
                <label for="Entry note" class="form-label">Entry note</label>
            <input type="text" class="form-control" name="paragraph" placeholder="entry note">
    
            <div class="form-group">
            <select name="tag" class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="Amazing">Amazing</option>
                <option value="exciting">exciting</option>
                <option value="plain">plain</option>
                <option value="not-The-Best-Day">not The Best Day</option>
                <option value="horrible">horrible</option>
            </select>
            <div class="form-group">
            <button class="btn btn-primary" type="submi">Submit</button>
        </form>
    </div>
</div>
<% layout('/layout/boilerplate') %>