
<% layout('/layout/boilerplate') %>

<h1 class = "text-center mb-3">Your Entries</h1>

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link
rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
crossorigin="anonymous"
/>
<link rel="stylesheet" href="./css/style.css" />
<title>All Entries</title>
</head>
<body>

<div class="container">
    <div class="row">
        <h1 class ="text-center">Entry Page</h1>
        <img src=<%= entry.image %> alt="">
        <h3><%= entry.title %></h3>
        <p><%= entry.note %></p>
        <span><%= entry.tag %></span>
    </div>
</div>
